:host {
  display: flex;
  flex-direction: row;
}

ul {
  width: 10%;
  padding-left: 0;
  list-style-type: none;
}

li {
  margin: 0.4rem 0;
}

a {
  padding: 0.2rem;
}

.item-active {
  background-color: yellow;
}
